__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/

.venv/
venv/
env/
keras3_env/
ENV/

.streamlit/secrets.toml

.ipynb_checkpoints/

.DS_Store
Thumbs.db

.vscode/
.idea/

*.h5
*.weights.h5

*.log

temp/
*.tmp